<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hqu.csmall.passport.mapper.AdminMapper">

    <select id="list" resultType="cn.hqu.csmall.passport.pojo.vo.AdminListItemVO">
        SELECT id, username, nickname, avatar, phone, email, enable, description
        FROM ams_admin ORDER BY id
    </select>

    <!-- AdminLoginInfoVO getLoginInfoByUsername(String username); -->
    <select id="getLoginInfoByUsername" resultType="cn.hqu.csmall.passport.pojo.vo.AdminLoginInfoVO">
    SELECT id,username, password, enable
    FROM ams_admin WHERE username=#{username}
    </select>

    <!-- List<String> getRolesByUsername(String username); -->
    <select id="getRolesByUsername" resultType="java.lang.String">
    SELECT r.name FROM ams_role r
    JOIN ams_admin_role ar ON r.id = ar.role_id
    JOIN ams_admin a ON a.id = ar.admin_id
    WHERE a.username = #{username}
    </select>

</mapper>
