<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hqu.csmall.passport.mapper.AdminMapper">

    <select id="list" resultType="cn.hqu.csmall.passport.pojo.vo.AdminListItemVO">
        SELECT id, username, nickname, avatar, phone, email, enable, description
        FROM ams_admin ORDER BY id
    </select>

    <!-- AdminLoginInfoVO getLoginInfoByUsername(String username); -->
    <select id="getLoginInfoByUsername" resultMap="loginInfoResultMap">
        select
            ams_admin.id,
            ams_admin.username,
            ams_admin.password,
            ams_admin.enable,
            ap.value
        from ams_admin
                 left  join ams_admin_role aar on ams_admin.id = aar.admin_id
                 left  join ams_role_permission arp on aar.role_id = arp.role_id
                 left  join ams_permission ap on arp.permission_id = ap.id
        where
            username = #{username}
    </select>
    <!--通过此resultMap告诉MyBatis如何封装一条sql查询到多条记录-->
    <!-- resultMap标签：指导MyBatis封装查询结果 -->
    <!-- resultMap标签的id属性：自定义名称，也是select标签上使用resultMap属性的值 -->
    <!-- resultMap标签的type属性：封装查询结果的类型的全限定名 -->
    <resultMap id="loginInfoResultMap" type="cn.hqu.csmall.passport.pojo.vo.AdminLoginInfoVO">
        <!-- id标签：配置主键的列与属性的对应关系 -->
        <!-- result标签：配置普通的列与属性的对应关系 -->
        <!-- collection标签：配置List集合类型的属性与查询结果中的数据的对应关系 -->
        <!-- collection标签的ofType属性：集合中的元素类型，取值为类型的全限定名 -->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="enable" property="enable"/>
        <collection property="permissions" ofType="java.lang.String">
            <constructor>
                <!-- arg标签：配置构造方法的参数，如果构造方法有多个参数，依次使用多个此标签 -->
                <arg column="value"/>
            </constructor>
        </collection>
    </resultMap>


</mapper>
